.box-container-auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 80%;
  padding: 0rem 0rem 12rem 0rem;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
  width: 100%;
  height: 100%;
}

.custom-box-background {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 70%;
}

@media (max-height: 627px) {
  .box-container-auth {
    padding-bottom: 5rem;
  }
}