:root {
    --logged-user-text-color: #FFFFFF;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    padding: 0rem 1rem 0.5rem 0.2rem;
    align-items: center;
    position: relative;
}

.info-user {
    margin-right: -1rem;
    position: absolute;
    top: 16%;
    right: 7%;
    transform: translate(50%, 50%);
    display: flex;
    flex-direction: column;
}

.logged-user {
    color: var(--logged-user-text-color);
    font-family: sans-serif;
    font-size: 130%;
    font-weight: bold;
    max-width: 11rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block-end: -3.4rem;
}

.NuCoperation img {
    height: 6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.NuFileBox {
    position: fixed;
    top: 8%;
    right: 50%;
    transform: translate(50%, -50%);
}

.NuFileBox img {
    height: 3rem;
    cursor: pointer;
    margin-top: 2rem;
}

@media (max-width: 1480px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 30vh;
        justify-content: space-between;
    }

    body {
        text-align: center;
        overflow: hidden;
    }

    :root {
        --logged-user-text-color: #810DD0;
    }

    .NuCoperation img {
        display: none;
    }
    
    .NuFileBox img {
        height: 3rem;
        padding-left: 0;
        margin-top: 10rem;
    }

    .info-user {
        margin-right: 2rem;
    }
}

@media (max-height: 694px) {
    .NuFileBox img {
        margin-top: 7rem;    
    }

    .info-user {
        margin-top: -2rem;
    }
}

@media (max-height: 579px) {
    .NuFileBox img {
        display: none;
    }
}